/* # GENERICS */
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#009688 150px, #d5dbd8 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    border: 1px dotted red;
    width: 70vw;
    height: 90vh;
    display: flex;
}

/* # UTILITIES */
/* * flex utils */
.fb-33 {
    flex-basis: calc(100% / 3);
}

.fb-66 {
    flex-basis: calc(100% / 3 * 2);
}





/* ! utilities for developing pourpose (to remove) */
[class^=fb]{
    border: 1px solid purple;
}