:root {
    --bcc-up: #009688;
    --bcc-down: #d5dbd8;
    --bcc-grey: #eaeaea;
    --bcc-notification: #8edafc;
    --bcc-contacts: #fff;
    --bcc-welcome: #0d1117;
    --welcome-text: #c9d1d9;
    --user-msg: #d5f9ba;
    --icon-light-grey: #b1b1b1;
    --icon-dark-grey: #6b7376;
    --text-grey: #707d84;
    --contact-grey: #e9ebeb;
}

/* # GENERICS */
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--bcc-up) 150px, var(--bcc-down) 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 70vw;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px;
}

header{
    height: 80px;
    background-color: var(--bcc-grey);
}

button.btn:hover{
    border-color: var(--icon-light-grey);
}

figcaption{
    overflow: hidden;
}

i{
    color: var(--icon-light-grey);
}

/* # UTILITIES */
/* * flex utils */
.fb-33{
    flex-basis: calc(100% / 3);
}

.fb-66{
    flex-basis: calc(100% / 3 * 2);
}

.round-pic{
    height: 50px;
    width: 50px;
}

.form-control:focus{
    border-color: var(--bcc-grey);
    box-shadow: none;
}

/* # User/Contacts side */
#user-side{
    border-right: 0.5px solid var(--icon-light-grey);
}

/* ? Notification */
#notification{
    height: 100px;
    background-color: var(--bcc-notification);
}

#notification figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#notification .bi-bell-slash-fill{
    color: var(--bcc-notification);
    transform: scale(1.7);
}

/* ? Contacts */
#contacts{
    height: calc(100% - 180px);
    background-color: var(--bcc-contacts);
}

/* * Search */
.contact-search{
    height: 50px;
    background-color: var(--bcc-grey);
}

/* * Contacts List */
.contact-list{
    height: calc(100% - 50px);
    overflow-y: auto;
}

.contact-list li{
    cursor: pointer;
    position: relative;
}

.contact-list li:hover{
    background-color: var(--bcc-grey);
}

/* * Date */
.contact-list .date-message{
    position: absolute;
    bottom: 0;
    right: 0.3rem;
}

/* # Chat side */
/* ! Welcome page */
#welcome-page{
    background-color: var(--bcc-welcome);
    color: var(--welcome-text);
    text-align: center;
}

/* ! Chat section */
/* ? Conversation */
#conversation{
    height: calc(100% - 160px);
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
    padding: 50px;
}

/* * Text */
#conversation .message{
    background-color: var(--user-msg);
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    max-width: 350px;
    margin-bottom: 30px;
    position: relative;
}

#conversation .message.sent{
    background-color: var(--user-msg);
    align-self: flex-end;
}

#conversation .message.received{
    background-color: #fff;
    align-self: flex-start;
}

/* * Date */
.date-message{
    color: var(--text-grey);
    display: block;
    text-align: end;
    margin: 0.5rem 0 0.5rem 2rem;
}

/* * Dropdown */
#conversation .dropdown{
    position: absolute;
    top: -0.2rem;
    right: 0.5rem;
}

#conversation .dropdown button{
    padding: 0;
    border: none;
    visibility: hidden;
}

#conversation .message:hover button{
    visibility: unset;
}

/* ? Message input */
#message-input{
    height: 80px;
    background-color: var(--bcc-grey);
    box-shadow: 0px -5px 5px -7px;
}

#message-input i{
    color: var(--icon-dark-grey);
}

/* # Add contact modal */
#add-modal{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#add-modal .contact-modal{
    width: 25vw;
    height: 40vh;
    padding: 1.75rem;

    background-color: var(--welcome-text);
    color: var(--bcc-welcome);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow: auto;
}